body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

input[type="radio"] {
  margin: 0px;
}

label {
  margin: 0px;
}
